
.product-flex {
    background-color: var(--white-full);
    gap: 20px;
    border-radius: 5px;
}

/* 
    TODO: Revisar las medidas correctas en la página de ML
*/
.product-page-left-column {
    flex-basis: 0%;
    flex-grow: 2;
    flex-shrink: 1;
}
/* border: 1px solid var(--neutral-010); */
.product-page-right-column {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 325px;
    max-width: 376px;
    width: 376px;
    border-radius: 8px;
    padding-right: 24px;
    margin: 24px 0 24px 24px;
}
.product-right-column-border {
    border: 1px solid var(--neutral-010);
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
}

.btns-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}