
.product-flex {
    background-color: var(--white-full);
    gap: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding: 24px;

    /* TODO: Borrar */
    min-height: 500px;
}

/* 
    TODO: Revisar las medidas correctas en la página de ML
*/
.product-page-left-column {
    flex-basis: 0%;
    flex-grow: 3;
    flex-shrink: 1;
}

.product-page-right-column {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}

.btns-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}