
.header-option {
    display: flex;
    flex-direction: column;
    background-color: var(--white-full);
    max-width: 185px;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.header-option-title{
    font-size: 14px;
    font-weight: 600;
}

.img-container {
    width: 65%;
    margin: 15px auto;
}

.header-option-description{
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    transition: var(--medium-transition);
}

.header-option:hover > .header-option-description {
    color: var(--loud-color-default);
}
.header-option:hover > .secondary-btn-small{
    background-color: var(--secondary-btn-hover-color);
}