:root{
    --product-small-image: 180px;
    --product-medium-image: 250px;
}


.product-container{
    background-color: var(--white-full);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    /* padding: 0 30px 20px 30px; */
}
.product-container:hover >.product-title {
    color: var(--loud-color-default);
}
.medium-container {
    padding: 0;
    font-size: 12px;
}

/* Image */
.object-fit{
    overflow: hidden;
    position: relative;
}
.object-fit-medium {
    width: 100%;
    height: var(--product-medium-image);
    overflow: hidden;
}
.object-fit-small {
    width: var(--product-small-image);
    height: var(--product-small-image);
    overflow: hidden;
}
.object-fit-small::after, .object-fit-medium::after {
    content: '';
    background-color: var(--neutral-005);
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-title {
    font-size: 1.375em;
    padding: 0 50px 0 0;
    transition: var(--fast-transition);
}
/* Títulos para los contenedores más chicos */
.product-title-medium, .product-title-small{
    padding: 0;
    font-weight: 500;
}
.product-title-medium{
    font-size: 1.25em;
}
.product-title-small{
    font-size: 1.1em;
}

.product-rate, .product-real-price{
    font-size: 0.875em;
    color: var(--neutral-060);
}

.product-real-price{
    text-decoration: line-through;
}
.product-price-discount{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    font-size: 2em;
}
.product-payments{
    font-weight: 600;
}

.product-get-it-today {
    font-size: .875em;
    margin: 15px 0 10px 0;
}

.product-free-return {
    color: var(--neutral-050);
}
.product-free-return span {
    color: var(--succes-color);
    font-weight: 600;
    font-size: 15px;
}

/*
=============================================================================
    Stock
===============================================================================
*/
.product-stock-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.product-stock {
    font-weight: 600;
    font-size: 0.875em;
}
.product-quantity{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .95em;
}

.change-quantity-btn{
    color: var(--loud-color-default);
    font-weight: 700;
    font-size: 1.125em;
}
.quantity-to-buy{
    color: var(--succes-color);
}
.quantity-in-stock{
    color: var(--neutral-060);
    font-size: 0.875em;
}

/* Small container */
.offer-product-link{
    margin-right: 20px;
}