@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* Fuente de Mercado Libre */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format('woff2'), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', -apple-system, Roboto, Arial, sans-serif;
}

body {
  background-color: var(--neutral-010);
  color: var(--neutral-080);
}
main, section{
  width: 100%;
  margin: auto;
}
main {
  margin-top: 50px;
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

/* Universal elements */
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
a{
  text-decoration: none;
  color: var(--neutral-090);
}
i{
  color: var(--neutral-050);
}

/* Universal classes */
.max-width {
  max-width: var(--max-width);
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
/* .img-container {
    width: 100%;
} */
.section {
  margin-bottom: 50px;
}
.link-font{
  font-size: 14px;
  font-weight: 600;
  color: var(--loud-color-default);
}

/* Icons */
.blue-star-fill{
  color: var(--loud-color-default)
}

.succes-div{
  color: var(--succes-color);
  background-color: var(--succes-color-backgorund);
  font-weight: 600;
  font-size: 14px;
  text-wrap: nowrap;
  width: min-content;
  padding: 4px 8px;
  border-radius: 4px;
}
.succes-div-small{
    padding: 2px 4px;
    font-size: 12px;
}

.primary-btn{
  /* 
    Al crear las propiedades de este botón, tener en cuenta que muchas se repiten en el botón secundario.
    Por lo tanto, se pueden reutilizar las propiedades.
    Pasarlas al botón primario y modificar las clases que se muestran en los elementos que contengan el botón secundario, como el botón en HeaderOptions.
  */
  background-color: var(--primary-btn-main-color);
}
.primary-btn:hover{
  background-color: var(--primary-btn-hover-color);
}
.secondary-btn {
    background-color: var(--secondary-btn-main-color);
    color: var(--loud-color-default);
    padding: 0 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: var(--medium-transition);
}
.secondary-btn:hover{
  background-color: var(--secondary-btn-hover-color);
}

.secondary-btn-small {
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}