

.novedades {
    position: absolute;
    top: calc(var(--header-height) + 23.6px);
    width: 100%;
}

.down-with-sections {
    height: 250px;
    width: 100%;
    color: transparent;
}
.relative {
    position: relative;
}
.linear-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    color: transparent;
    background: linear-gradient(transparent 0%, white 100%);
}

.hero{
    position: relative;
    z-index: 100;
}
.hero-options-container{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    z-index: 4;
}


/* 
====================================
Section Ofertas
====================================
*/
.offers-container {
    display: flex;;
}
.daily-offer-title {
    margin-bottom: 20px;
}
.daily-offer, .best-offers{
    border-radius: 8px;
    padding: 20px;
}
.daily-offer{
    margin-right: var(--margin-default);
    width: calc(30% - var(--margin-default));
    background-color: var(--white-full);
}
.best-offers {
    width: 70%;
    background-color: var(--white-full);
    position: relative;
}